/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/medialibrary/*
/storage/media-library/*
docker-compose.yml
phpdocker/mysql_prod
.DS_Store
.idea
._*
*.tar
dump.sql
*.tgz
public/sitemap.xml